<!DOCTYPE html>

<html>

    <head>

        <meta charset="UTF-8">
        <title> {{ current_rubric.name }} :: Доска объявлений </title>


    </head>

    <body>
        <h1> Объявления </h1>
        <h2> Рубрика :: {{ current_rubric.name }} </h2>

        <div>
            <a href="/termoapp/"> Главная </a>
            {% for rubric in rubrics %}
            <a href="/termoapp/{{ rubric.pk }}/">{{ rubric.name }}</a>
            {% endfor %}
        </div>

        {% for bb in bbs %}

        <div>
            <h2> {{ bb.title }} </h2>
            <p> {{ bb.content }} </p>
            <p> {{ bb.published|date:"d.m.Y H:i:s" }} </p>


        </div>
        {% endfor %}


        <!--                      ДАЛЬШЕ ПАЦИЕНТЫ                    -->


        <h1> Пациенты </h1>
        <h2> ТЯЖЕЛЫЕ </h2>

        {% for pp in pps %}

        <div>
            
            
            {% if pp.saturation < 95 %}
                <div>
                <h3> ФИО - {{ pp.title }} </h3>
                <h3> Сатурация - {{ pp.saturation }} </h3>
                <p> ДАТА ЗАПИСИ - {{ pp.published|date:"d.m.Y H:i:s" }} </p>

                </div>
            {% endif %}
            
        </div>
        {% endfor %}

        <h2> ТЕМПЕРАТУРЯЩИЕ </h2>
        {% for pp in pps %}
            {% if pp.temperature > 36.9 %}
                <div>
                <h3> ФИО - {{ pp.title }} </h3>
                <h3> Температура - {{ pp.temperature }} </h3>
                <p> ДАТА ЗАПИСИ - {{ pp.published|date:"d.m.Y H:i:s" }} </p>

                </div>
            {% endif %}
        {% endfor %}




        
        <h1> Пациенты полный список записей</h1>
        {% for pp_list in pps %}
        <div>
            <h2> {{ pp_list.title }} </h2>
            <p> {{ pp_list.sex }} </p>
            <p> Сатурация -  {{ pp_list.saturation }} Температура -  {{ pp.temperature }}</p>
            <p> {{ pp_list.published|date:"d.m.Y H:i:s" }} </p>
        
        {% endfor %}
        </div>
        
    </body>





</html>