<!DOCTYPE html>

<html>

    <head>

        <meta charset="UTF-8">
        <title> Главная :: Доска объявлений :: Пациенты </title>


    </head>

    <body>
        <h1> Объявления </h1>

        {% for bb in bbs %}

        <div>
            <h2> {{ bb.title }} </h2>
            <p> {{ bb.content }} </p>
            <p> {{ bb.published|date:"d.m.Y H:i:s" }} </p>


        </div>
        {% endfor %}

        <h1> Пациенты </h1>

        {% for pp in pps %}

        <div>
            <h2> {{ pp.title }} </h2>
            <p> {{ pp.sex }} </p>
            <p> Сатурация -  {{ pp.saturation }} Температура -  {{ pp.temperature }}</p>
            <p> {{ pp.published|date:"d.m.Y H:i:s" }} </p>


        </div>
        {% endfor %}

        
    </body>





</html>